p {
    color: darkgreen;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}
p2 {
    color: darkgreen;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}
h { 
    color: darkgreen;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}
